[Desktop Entry]
Name=Glest
Comment=Glest - 3D RTS game
Exec=glest
Terminal=false
Icon=glest
Type=Application
Categories=Game;StrategyGame;
# vi: encoding=utf-8
